/* source internet */

.bookDescPara{
    text-overflow:ellipsis;
}

.vertical-center {
    min-height: 60%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: -webkit-flex; /* For Safari */
    -webkit-justify-content: center; /* For Safari */
    -webkit-align-items: center; /* For Safari */
}

img{
    padding-top: 15%;

}

@media screen and (min-width: 900px) {
    .col-md-3 {
        width: 23%;
        float: left;
    }
}

@media screen and (min-width: 1300px) {
    .col-md-3 {
        width: 17%;
        float: left;
    }
}

@media screen and (min-width: 1600px) {
    .col-md-3 {
        width: 12%;
        float: left;
    }
}