/* source internet */

p.bookDescPara{
    text-overflow:ellipsis;
}

.vertical-center {
    /*min-height: 60%;
    min-height: 60vh;*/
    /*display: flex;*/
    align-items: center;
    /*justify-content: center;
    flex-direction: column;*/
    /*display: -webkit-flex; /!* For Safari *!/*/
    -webkit-justify-content: center; /* For Safari */
    -webkit-align-items: center; /* For Safari */
}

.Desc{

}

/*.thumbnails { height:100px; width:100px }*/


@media screen and (min-width: 900px) {
    .col-md-3 {
        width: 23%;
        float: left;
    }
    .progressbarAlign{
        padding-top: 1%
    }
}

@media screen and (min-width: 1300px) {
    img{
        padding-top: 10%;
    }

    .DescPara{
        padding-left: 2%;
    }

    .progressbarAlign{
        padding-top: 1%
    }

    .col-md-3 {
        width: 17%;
        float: left;
    }
}

@media screen and (min-width: 1600px) {
    img{
        padding-top: 10%;
    }

    .DescPara{
        padding-left: 2%;
    }

    .progressbarAlign{
        padding-top: 1%
    }


    .col-md-3 {
        width: 12%;
        float: left;
    }
}


p {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.ellipsis {
    overflow: hidden;
    height: 200px;
    line-height: 25px;
}
.ellipsis:before {
    content:"";
    float: left;
    width: 5px;
    height: 200px;
}


.ellipsis:after {
    content:"\02026";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    text-align: left;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
