/* code from https://css-tricks.com/star-ratings/ */

a {
    cursor: pointer;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    /*padding-top: 15%; */
}
.rating > span {
    display: inline-block;
    /* position: relative; */
    width: 1.5em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}