<div>
    <h1 class="page-header">Register</h1>
    <form class="form-horizontal" name="register">

        <div class="form-group">
            <div class="col-sm-10">
                <h4 class="text-warning"><p >{{model.message}}</p></h4>
            </div>
        </div>

        <div class = "form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-8">
                <input ng-model="user.username" name="username" type="text" class="form-control" id="username"
                       placeholder="Username" required/>
                <div role="alert">
						<span style="color:red" class="error" ng-show="register.username.$dirty
						&& register.username.$error.required">Username required</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-8">
                <input ng-model="user.password" name="password" type="password" class="form-control" id="password"
                       placeholder="Password" required/>
            </div>
            <div role="alert">
                {{model.passwordMsg}}
                <!--span style="color:red" class="error" ng-show="register.password.$dirty
                && register.password.$error.required">Password required</span-->
            </div>
        </div>

        <div class="form-group">
            <label for="verifypassword" class="col-sm-2 control-label">Verify Password</label>
            <div class="col-sm-8">
                <input ng-model="user.verifypassword" name="verifypassword" type="password" class="form-control"
                       id="verifypassword" placeholder="Verify Password" required/>
            </div>
            <div role="alert">
						<span style="color:red" class="error" ng-show="register.verifypassword.$dirty
						&& register.verifypassword.$error.required">Verify Password required</span>
						<span style="color:red" class="error">
							{{model.passWordMessage}}
						</span>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input ng-model="user.email" name="email" type="email" class="form-control" id="email"
                       placeholder="email" required/>
            </div>
            <div role="alert">
                {{model.emailMsg}}
				<span style="color:red" ng-show="register.email.$dirty && register.email.$invalid">
					<span ng-show="register.email.$error.required">Email is required.</span>
  					<span ng-show="register.email.$error.email">Invalid email address.</span>
  				</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button ng-click="model.registerNewUser(user)"
                        ng-disabled = "model.submitDisabled"
                        class="btn btn-primary col-sm-12"
                        type="submit"
                        role="button">Register</button>
            </div>
        </div>
    </form>
</div>