<h1 class="page-header">Welcome to Breview!</h1>
<h4 class="text-justify">
    Breview, A unique way for rating your favorite books.
</h4>
<h4 class="text-justify" ng-hide="!model.isNotLogin()">
    Breview computes sentiment ratings for books, based on your reviews.
</h4>
<h4 class="text-justify" ng-hide="model.isNotLogin()">
    Breview computes sentiment ratings for books, based on your reviews. Please register and login to start reviewing books.
</h4>

<br/>
<div class="form-group input-group-lg has-feedback has-feedback-right">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter name of book, author..."
               ng-model="model.searchQueryString"
               ng-keyup="$event.keyCode == 13 ? model.searchQuery(model.searchQueryString) : null">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    ng-click="model.searchQuery(model.searchQueryString)">
                Search </button>
        </div>
    </div>
</div>