<h1 class="page-header">Welcome to Breview!</h1>
<h4 class="text-justify">
    You review them, we will give it a rating!
</h4>
<br/>
<div class="form-group input-group-lg has-feedback has-feedback-right">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter name of book, author..."
               ng-model="model.searchQueryString"
               ng-keyup="$event.keyCode == 13 ? model.searchQuery(model.searchQueryString) : null">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    ng-click="model.searchQuery(model.searchQueryString)">
                Search </button>
        </div>
    </div>
</div>