<h2 class="text-nowrap">"{{model.book.volumeInfo.title}}" details page</h2>
<div class="table">

    <div class="row text-nowrap">
        <div class="col-md-3">
            <img width="100px" ng-src={{model.book.volumeInfo.imageLinks.smallThumbnail}}>
        </div>

        <div class="col-md-5">
            <div class="row text-nowrap">
                <h3><a ng-href={{model.book.volumeInfo.canonicalVolumeLink}}>
                    {{model.book.volumeInfo.title}}</a>
                </h3>
            </div>
            <div class="row text-nowrap">
                <a ng-href={{model.book.volumeInfo.previewLink}}>Preview on Google</a>
            </div>

            <div ng-if="model.book.volumeInfo.averageRating > 0" class="row text-nowrap">
                <h4>User Sentiment Rating</h4>
            </div>
            <div class="row text-nowrap">
                <div ng-if="model.book.volumeInfo.averageRating > 0" class="progress-bar"
                     ng-class = "{'progress-bar-success'  : ((model.book.volumeInfo.averageRating >= 3.5) && (model.book.volumeInfo.averageRating < 5)),
                                      'progress-bar-info'     : ((model.book.volumeInfo.averageRating >= 2.5) && (model.book.volumeInfo.averageRating < 3.5)),
                                      'progress-bar-warning'  : ((model.book.volumeInfo.averageRating >= 1.5) && (model.book.volumeInfo.averageRating < 2.5)),
                                      'progress-bar-danger'   : ((model.book.volumeInfo.averageRating >= 0 ) && (model.book.volumeInfo.averageRating < 1.5))}"
                     role="progressbar"
                     aria-valuenow="model.book.volumeInfo.averageRating * 20" aria-valuemin="0" aria-valuemax="100"
                     style="width:{{model.book.volumeInfo.averageRating * 20}}%">
                    {{model.book.volumeInfo.averageRating * 20}}
                </div>
            </div>
            <div class="row text-nowrap" ng-hide="model.isLogin()">
                <a ng-click="addFav(book)"><span style="color:red" class="glyphicon glyphicon-heart"></span></a>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-16 text-justify">
            <h5>Description:</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-16 text-justify">
            <p>{{model.book.volumeInfo.description}}</p>
        </div>
    </div>
    <hr/>
    &nbsp;
    <div class="row" ng-if="model.sentimentMsg">
            <div class=" col-md-10 alert {{model.alert_class}}">
                <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{model.sentimentMsg}}
            </div>
    </div>
    &nbsp;
    <div class="row" ng-if="model.isUserLoggedin()">
        <div class="col-md-16">
            <h5>Write Your Review:</h5>
        </div>
    </div>
    <div class="row" ng-if="model.isUserLoggedin()">
        <div class="col-md-16">
            <textarea ng-model="model.userReview" class="form-control"> </textarea>
        </div>
    </div>
    &nbsp;
    <div class="row" ng-if="model.isUserLoggedin()">
        <div class="col-md-16 text-right">
            <button ng-click="model.submitReview(model.userReview)" type="button" class="btn btn-primary btn-sm btn-block">Submit Review</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-16">
            <h4><span style="text-decoration: underline;">Reviews:</span></h4>
        </div>
    </div>
    <div ng-repeat="review in model.reviews">
        <div class="row">
            <div class="col-md-3 text-justify">
                <h4 >{{review.username}} wrote:</h4>
            </div>
            <div class="col-md-4">
                <h5>Sentiment Rating for the review</h5>
            </div>
            <div class="col-md-4 progressbarAlign">
                <div class="progress-bar"
                         ng-class = "{'progress-bar-success'  : ((review.sentimentRating >= 75) && (review.sentimentRating <= 100)),
                                      'progress-bar-info'     : ((review.sentimentRating >= 51) && (review.sentimentRating < 75)),
                                      'progress-bar-warning'  : ((review.sentimentRating >= 31) && (review.sentimentRating < 51)),
                                      'progress-bar-danger'   : ((review.sentimentRating >= 0 ) && (review.sentimentRating < 31))}"
                         role="progressbar"
                         aria-valuenow="review.sentimentRating" aria-valuemin="0" aria-valuemax="100"
                         style="width:{{review.sentimentRating}}%">
                        {{review.sentimentRating}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-16 text-justify">
                <p>{{review.reviewDesc}}</p>
            </div>
        </div>
        <br/>
        <hr/>
    </div>
</div>
