<h1 class="page-header">Search from books here</h1>
<br/>
<br/>
<br/>
<br/>
<div class="row">
    <form ng-submit="model.searchQuery(model.searchQueryString)">
        <div class="col-lg-8">
            <input type="text" class = "form-control" ng-model="model.searchQueryString" placeholder="Enter name of book, author..."/>
        </div>
        <div class="col-lg-4">
            <button class="btn  btn-group-sm" ng-click="model.searchQuery(model.searchQueryString)">Search</button>
        </div>
    </form>
</div>
