<div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/favorites">Your Reviews</a></li>
        <li role="presentation" class=active><a href="#/favorite_books">Favorites</a></li>
    </ul>
    <br/>
    <!--div class="jumbotron">
        <h1>{{model.noBookMsg}}</h1>
    </div-->
    <h1>{{model.noBookMsg}}</h1>


    <div class="container" ng-repeat="favbook in model.favbooks">
        <div class="text-nowrap">
        <div class="row">
            <div class ="col-md-2">
                <img class="img" width="100px" ng-src={{favbook.thumbnailUrl}}>
            </div>
            <div class ="col-md-5 col-xs-4">

                    <div class="row">
                        <h3><a href="">
                            {{favbook.title}}
                        </a></h3>
                    </div>
                    <br/>
                    <div class="row">
                        <h4>User Sentiment Rating</h4>
                    </div>
                    <div class="row">
                        <!--div ng-class="apt.name.length >= 15 ? 'col-md-12' : (apt.name.length >= 10 ? 'col-md-6' : 'col-md-4')"-->
                        <!--div class="progress-bar" -->
                        <div class="progress-bar"
                        ng-class = "{'progress-bar-success'  : ((favbook.sentimentRating >= 75) && (favbook.sentimentRating < 100)),
                                     'progress-bar-info'     : ((favbook.sentimentRating >= 51) && (favbook.sentimentRating < 75)),
                                     'progress-bar-warning'  : ((favbook.sentimentRating >= 31) && (favbook.sentimentRating < 51)),
                                     'progress-bar-danger'   : ((favbook.sentimentRating >= 0 ) && (favbook.sentimentRating < 31))}"
                        role="progressbar"
                             aria-valuenow="favbook.sentimentRating" aria-valuemin="0" aria-valuemax="100"
                             style="width:{{favbook.sentimentRating}}%">
                            {{favbook.sentimentRating}}
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="row">
                        <a ng-href={{favbook.googlePreviewLink}}>Preview on Google</a>
                    </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row center-block col-md-10" style="display:none">
        <button class="btn btn-default center-block">Load more..</button>
    </div>
    <br/>

</div>