<div-->
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/favorites">Your Reviews</a></li>
        <li role="presentation" class=active><a href="#/favorite_books">Favorites</a></li>
    </ul>
    <br/>
    <!--div class="jumbotron">
        <h1>{{model.noBookMsg}}</h1>
    </div-->
    <h1>{{model.noBookMsg}}</h1>


    <div class="container" ng-repeat="favbook in model.favbooks">
        <div class="text-nowrap">
        <div class="row">
        <div class ="col-md-3">
            <img class="img" width="100px" ng-src={{favbook.thumbnailUrl}}>
        </div>
        <div class ="col-md-4 col-xs-2">
            <div class="col">
                <h3><a href="">
                    {{favbook.title}}
                </a></h3>
            </div>
            <br/>
            <div class="col">
                <h4>User Sentiment Rating</h4>
            </div>
            <div class="col">
                <a ng-href="favbook.googlePreviewLink">Preview on Google</a>
            </div>
        </div>
        <div class ="col-md-3 col-xs-2">
            <div class="col">
                <!--div class="rating">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </div-->
            </div>
            <br/>
            <br/>
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="favbook.sentimentRating" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    {{favbook.sentimentRating}}
                </div>
            </div>
        </div>
        </div>
        <br/>
        </div>
    </div>
    <br/>
    <div class="row center-block col-md-10" style="display:none">
        <button class="btn btn-default center-block">Load more..</button>
    </div>
    <br/>

</div>