<!-- The template to display users is taken from github.com -->
<div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/profile">Personal Info</a></li>
        <li role="presentation"><a href="">Interests</a></li>
        <li role="presentation" class=active><a href="#/profile_friends">Friends</a></li>
    </ul>
    <br/>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for friends">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Search </button>
        </div>
    </div>
    <div>
        <div>
            <h3>Following:</h3>
            <div class="container">
                <ul class="thumbnails list-inline">
                    <li class="span4">
                        <div class="thumbnail">
                            <a style="color:red" class="close" href="#">x</a>
                            <img src="//placehold.it/80x80">
                            <h3>USERNAME</h3>
                            <p>FirstName LastName</p>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <a style="color:red" class="close" href="#">x</a>
                            <img src="//placehold.it/80x80">
                            <h3>USERNAME</h3>
                            <p>FirstName LastName</p>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <a style="color:red" class="close" href="#">x</a>
                            <img src="//placehold.it/80x80">
                            <h3>USERNAME</h3>
                            <p>FirstName LastName</p>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <a style="color:red" class="close" href="#">x</a>
                            <img src="//placehold.it/80x80">
                            <h3>USERNAME</h3>
                            <p>FirstName LastName</p>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <a style="color:red" class="close" href="#">x</a>
                            <img src="//placehold.it/80x80">
                            <h3>USERNAME</h3>
                            <p>FirstName LastName</p>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <a style="color:red" class="close" href="#">x</a>
                            <img src="//placehold.it/80x80">
                            <h3>USERNAME</h3>
                            <p>FirstName LastName</p>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <a style="color:red" class="close" href="#">x</a>
                            <img src="//placehold.it/80x80">
                            <h3>USERNAME</h3>
                            <p>FirstName LastName</p>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <a style="color:red" class="close" href="#">x</a>
                            <img src="//placehold.it/80x80">
                            <h3>USERNAME</h3>
                            <p>FirstName LastName</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div>
            <h3>Followers:</h3>
            <div class="container">
                <ul class="thumbnails list-inline">
                    <li class="span4">
                        <div class="thumbnail">
                            <a style="color:red" class="close" href="#">x</a>
                            <img src="//placehold.it/80x80">
                            <h3>USERNAME</h3>
                            <p>FirstName LastName</p>
                        </div>
                    </li>
                    <li class="span4">
                        <div class="thumbnail">
                            <a style="color:red" class="close" href="#">x</a>
                            <img src="//placehold.it/80x80">
                            <h3>USERNAME</h3>
                            <p>FirstName LastName</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
