<div>
    <div class="row text-nowrap DescPara">
        <h1>Profile page for {{model.user.username}}</h1>
    </div>
    <div class="row text-nowrap">
        <div class="col-md-3">
            <img width="100px" ng-src={{model.user.profilePicUrl}}>
        </div>

        <div class="col-md-5">
            <div class="row text-nowrap">
                <h3>{{model.user.firstName}} {{model.user.lastName}}</a>
                </h3>
            </div>
            <div class="row text-nowrap">
                <h3>Breviewer since {{model.user.joinDate | date : format : timezone }}</h3>
            </div>
        </div>
    </div>
    <hr/>

    <div class="table">
        <h2>{{model.noBookMsg}}</h2>
        <div ng-repeat="reviewBook in model.reviewBooks">
            <div class="row">
                <div class ="col-md-2">
                    <img class="img" width="100px" ng-src={{reviewBook.thumbnailUrl}}>
                </div>
                <div class ="col-md-5 col-xs-4 text-nowrap">
                    <div class="row">
                        <h3 ><a href="">
                            {{reviewBook.title}}
                        </a></h3>
                    </div>
                    <br/>
                    <div class="row text-nowrap">
                        <h4>User Sentiment Rating</h4>
                    </div>
                    <div class="row text-nowrap">
                        <div class="progress-bar"
                             ng-class = "{'progress-bar-success'  : ((reviewBook.sentimentRating >= 75) && (reviewBook.sentimentRating <= 100)),
                                     'progress-bar-info'     : ((reviewBook.sentimentRating >= 51) && (reviewBook.sentimentRating < 75)),
                                     'progress-bar-warning'  : ((reviewBook.sentimentRating >= 31) && (reviewBook.sentimentRating < 51)),
                                     'progress-bar-danger'   : ((reviewBook.sentimentRating >= 0 ) && (reviewBook.sentimentRating < 31))}"
                             role="progressbar"
                             aria-valuenow="reviewBook.sentimentRating" aria-valuemin="0" aria-valuemax="100"
                             style="width:{{reviewBook.sentimentRating}}%">
                            {{favbook.sentimentRating}}
                        </div>
                    </div>
                    &nbsp;
                    <div class="row">
                        <a ng-href={{reviewBook.googlePreviewLink}}>Preview on Google</a>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="row">
                <div class="col-md-16">
                    <h4><span style="text-decoration: underline;">Reviews:</span></h4>
                </div>
            </div>
            <div ng-repeat="review in reviewBook.reviews">
                <div class="row">
                    <div class="col-md-3 text-justify" ng-if= "model.isCurrentUser(review.username)">
                        <h4 >You wrote:</h4>
                    </div>
                    <div class="col-md-3 text-justify" ng-if= "!model.isCurrentUser(review.username)">
                        <h4 >{{review.username}} wrote:</h4>
                    </div>
                    <div class="col-md-4">
                        <h5>Sentiment Rating for the review</h5>
                    </div>
                    <div class="col-md-4 progressbarAlign">
                        <div class="progress-bar"
                             ng-class = "{'progress-bar-success'  : ((review.sentimentRating >= 75) && (review.sentimentRating <= 100)),
                                      'progress-bar-info'     : ((review.sentimentRating >= 51) && (review.sentimentRating < 75)),
                                      'progress-bar-warning'  : ((review.sentimentRating >= 31) && (review.sentimentRating < 51)),
                                      'progress-bar-danger'   : ((review.sentimentRating >= 0 ) && (review.sentimentRating < 31))}"
                             role="progressbar"
                             aria-valuenow="review.sentimentRating" aria-valuemin="0" aria-valuemax="100"
                             style="width:{{review.sentimentRating}}%">
                            {{review.sentimentRating}}
                        </div>
                    </div>
                </div>
                <div class="row DescPara">
                    <div class="col-md-16 text-justify">
                        <p>{{review.reviewDesc}}</p>
                    </div>
                </div>
                <br/>
                <hr/>
            </div>
        </div>
        &nbsp;
    </div>
</div>
