<!-- The template to display users is taken from github.com -->
<div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/profile">Personal Info</a></li>
        <!--li role="presentation"><a href="">Interests</a></li-->
        <li role="presentation" class=active><a href="#/profile_friends">Friends</a></li>
    </ul>
    <br/>

    <!--div class="input-group">
        <input type="text" class="form-control" placeholder="Search for friends">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Search </button>
        </div>
    </div-->
    <!-- display friend search results-->


        <div class="">
            <h3>Users you might be interested to follow:</h3>
                <ul class="thumbnails list-inline">
                    <li ng-repeat="user in model.FriendUsers">
                        <div class="thumbnail" ng-hide=model.isCurrentUser(user)>
                            <a style="color:#7000FF" class="close" href="" ng-click="model.addFriend(user)">+</a>
                            <a ng-click="model.visitFriend(user)"><img src="//placehold.it/120x120"></a>
                            <p align="center">{{model.displayUser(user)}}</p>
                        </div>
                    </li>
                </ul>
        </div>
        <div class="">
            <h3>Users you follow:</h3>
                <ul class="thumbnails list-inline">
                    <li ng-repeat="friend in model.Friends">
                        <div class="thumbnail">
                            <a style="color:#7000FF" class="close" href="" ng-click="model.removeFriend(friend)">x</a>
                            <a ng-click="model.visitFriend(friend)"><img src="//placehold.it/120x120"></a>
                            <p align="center">{{model.displayUser(friend)}}</p>
                        </div>
                    </li>
                </ul>
        </div>
        <div class="">
            <h3>Users who follow you:</h3>
                <ul class="thumbnails list-inline">
                    <li ng-repeat="follower in model.Followers">
                        <div class="thumbnail">
                            <a style="color:#7000FF" class="close" href="" ng-click="model.removeFollower(follower)">x</a>
                            <a ng-click="model.visitFriend(friend)"><img src="//placehold.it/120x120"></a>
                            <p align="center">{{model.displayUser(follower)}}</p>
                        </div>
                    </li>
                </ul>
        </div>
    </div>
