<!-- The template to display users is taken from github.com -->
<div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/profile">Personal Info</a></li>
        <li role="presentation"><a href="">Interests</a></li>
        <li role="presentation" class=active><a href="#/profile_friends">Friends</a></li>
    </ul>
    <br/>
    <div>
        <div>
            <h3>Followers:</h3>
            <div class="participation-avatars">
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="jholl" href="/jholl"><img alt="@jholl" class="avatar"   src="https://avatars2.githubusercontent.com/u/3354585?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="cvrebert" href="/cvrebert"><img alt="@cvrebert" class="avatar"   src="https://avatars0.githubusercontent.com/u/419884?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="mdo" href="/mdo"><img alt="@mdo" class="avatar"   src="https://avatars0.githubusercontent.com/u/98681?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="dantistus" href="/dantistus"><img alt="@dantistus" class="avatar"   src="https://avatars3.githubusercontent.com/u/1497083?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="geekcubed" href="/geekcubed"><img alt="@geekcubed" class="avatar"   src="https://avatars2.githubusercontent.com/u/2702222?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="lucasvst" href="/lucasvst"><img alt="@lucasvst" class="avatar"   src="https://avatars0.githubusercontent.com/u/1672089?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="Tomas-M" href="/Tomas-M"><img alt="@Tomas-M" class="avatar"   src="https://avatars3.githubusercontent.com/u/2259370?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="yegor256" href="/yegor256"><img alt="@yegor256" class="avatar"   src="https://avatars1.githubusercontent.com/u/526301?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="kbsali" href="/kbsali"><img alt="@kbsali" class="avatar"   src="https://avatars1.githubusercontent.com/u/53676?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="Roosso" href="/Roosso"><img alt="@Roosso" class="avatar"   src="https://avatars2.githubusercontent.com/u/2378264?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="jbokkers" href="/jbokkers"><img alt="@jbokkers" class="avatar"   src="https://avatars2.githubusercontent.com/u/589977?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="Mesrop" href="/Mesrop"><img alt="@Mesrop" class="avatar"   src="https://avatars3.githubusercontent.com/u/1398736?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="marcvdm" href="/marcvdm"><img alt="@marcvdm" class="avatar"   src="https://avatars2.githubusercontent.com/u/1028066?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="umhan35" href="/umhan35"><img alt="@umhan35" class="avatar"   src="https://avatars0.githubusercontent.com/u/3271612?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="Shipow" href="/Shipow"><img alt="@Shipow" class="avatar"   src="https://avatars2.githubusercontent.com/u/976175?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="potsky" href="/potsky"><img alt="@potsky" class="avatar"   src="https://avatars1.githubusercontent.com/u/408237?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="kuntae" href="/kuntae"><img alt="@kuntae" class="avatar"   src="https://avatars3.githubusercontent.com/u/1888098?v=3&amp;s=40"  > </a>
            </div>
        </div>
        <div>
            <h3>Following:</h3>
            <div class="participation-avatars">
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="jholl" href="/jholl"><img alt="@jholl" class="avatar"   src="https://avatars2.githubusercontent.com/u/3354585?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="cvrebert" href="/cvrebert"><img alt="@cvrebert" class="avatar"   src="https://avatars0.githubusercontent.com/u/419884?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="mdo" href="/mdo"><img alt="@mdo" class="avatar"   src="https://avatars0.githubusercontent.com/u/98681?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="dantistus" href="/dantistus"><img alt="@dantistus" class="avatar"   src="https://avatars3.githubusercontent.com/u/1497083?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="geekcubed" href="/geekcubed"><img alt="@geekcubed" class="avatar"   src="https://avatars2.githubusercontent.com/u/2702222?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="lucasvst" href="/lucasvst"><img alt="@lucasvst" class="avatar"   src="https://avatars0.githubusercontent.com/u/1672089?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="Tomas-M" href="/Tomas-M"><img alt="@Tomas-M" class="avatar"   src="https://avatars3.githubusercontent.com/u/2259370?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="yegor256" href="/yegor256"><img alt="@yegor256" class="avatar"   src="https://avatars1.githubusercontent.com/u/526301?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="kbsali" href="/kbsali"><img alt="@kbsali" class="avatar"   src="https://avatars1.githubusercontent.com/u/53676?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="Roosso" href="/Roosso"><img alt="@Roosso" class="avatar"   src="https://avatars2.githubusercontent.com/u/2378264?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="jbokkers" href="/jbokkers"><img alt="@jbokkers" class="avatar"   src="https://avatars2.githubusercontent.com/u/589977?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="Mesrop" href="/Mesrop"><img alt="@Mesrop" class="avatar"   src="https://avatars3.githubusercontent.com/u/1398736?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="marcvdm" href="/marcvdm"><img alt="@marcvdm" class="avatar"   src="https://avatars2.githubusercontent.com/u/1028066?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="umhan35" href="/umhan35"><img alt="@umhan35" class="avatar"   src="https://avatars0.githubusercontent.com/u/3271612?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="Shipow" href="/Shipow"><img alt="@Shipow" class="avatar"   src="https://avatars2.githubusercontent.com/u/976175?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="potsky" href="/potsky"><img alt="@potsky" class="avatar"   src="https://avatars1.githubusercontent.com/u/408237?v=3&amp;s=40"  > </a>
                <a class="participant-avatar tooltipped tooltipped-s" aria-label="kuntae" href="/kuntae"><img alt="@kuntae" class="avatar"   src="https://avatars3.githubusercontent.com/u/1888098?v=3&amp;s=40"  > </a>
            </div>
        </div>
    </div>
</div>
