<!-- The template to display users is taken from github.com -->
<div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/profile">Personal Info</a></li>
        <li role="presentation"><a href="">Interests</a></li>
        <li role="presentation" class=active><a href="#/profile_friends">Friends</a></li>
    </ul>
    <br/>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for friends">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Search </button>
        </div>
    </div>
    <!-- display friend search results-->

    <div>
        <div>
            <h3>Friend Search Results:</h3>
            <div class="container">
                <ul class="thumbnails list-inline">
                    <li class="span4" ng-repeat="user in model.FriendUsers">
                        <div class="thumbnail" ng-hide=model.isCurrentUser(user)>
                            <a style="color:#7000FF" class="close" href="" ng-click="model.addFriend(user)">+</a>
                            <img src="//placehold.it/80x80">
                            <p>{{user.firstName}} {{user.lastName}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div>
            <h3>Users you follow:</h3>
            <div class="container">
                <ul class="thumbnails list-inline">
                    <li ng-repeat="friend in model.Friends">
                        <div class="thumbnail">
                            <a style="color:#7000FF" class="close" href="" ng-click="model.removeFriend(friend)">x</a>
                            <img src="//placehold.it/80x80">
                            <p>{{friend.firstName}} {{friend.lastName}}</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div>
            <h3>USer who follow you:</h3>
            <div class="container">
                <ul class="thumbnails list-inline">
                    <li ng-repeat="friend in model.Followers">
                        <div class="thumbnail">
                            <a style="color:#7000FF" class="close" href="" ng-click="model.removeFollower(friend)">x</a>
                            <img src="//placehold.it/80x80">
                            <p>{{friend.firstName}} {{friend.lastName}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
